
body {
    background-color: #494a4d;
}
.nav-container {
    background-color: #274057;
    width: 100%;
}
.navbar-brand {
    color: red;
    text-emphasis-color: red;
}
#nav{
    border-radius: 0%;
    min-height: 20%;
    margin-bottom: 0;
    
    
}
#navbutton{
    background: #293037;
    
    
}
#textname{
    color: rgb(255, 255, 255);
}
.footer {
    height: 5vh;
    background-color: #252121;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.text{
    color: rgb(15, 67, 80);
    font-family: 'Times New Roman', Times, serif;

}
#main{
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)), url("tlo3.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

#animacja{
    
    width: 100%;
    font-size: 15vw ;
    color: rgb(230, 221, 221);
    text-shadow: -4px 0 rgb(22, 22, 18), 0 -5px black, 1px 0 black, 0 -1px black;
}
h3,li{
    color: #fcf7f7;
    font-family: 'Times N Rewoman', Times, serif;
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
    font-variant: small-caps;
    font-stretch: expanded;
    line-height: 1.5;
    letter-spacing: 1px;

}
